<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.atech.dbi.mapper.PortalOrderMapper">

<!--    <cache></cache>-->
<!--    <cache type="org.atech.dbi.service.cache.MyBatisCache">-->
<!--        <property name="host" value="localhost"/>-->
<!--    </cache>-->
<!--    <resultMap id="orderMap" type="org.atech.facade.domain.Order">-->
<!--        <result property="id"  column="id"></result>-->
<!--        <result property="orderSn"  column="order_sn"></result>-->
<!--        <result property="totalAmount"  column="total_amount"></result>-->
<!--        <result property="payType"  column="pay_type"></result>-->
<!--        <result property="modifyTime"  column="modify_time"></result>-->
<!--        <result property="createTime"  column="create_time"></result>-->

<!--    </resultMap>-->
<!--    <select id="detail" resultMap="orderMap">-->
<!--        SELECT-->
<!--            *-->
<!--        FROM-->
<!--            t_order-->
<!--    </select>-->

<!--    <delete id="deleteOrder">-->
<!--        DELETE from  t_order-->
<!--        WHERE-->
<!--            id = #{orderId}-->
<!--    </delete>-->
</mapper>